<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="robotic_arm_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="taco_to_base_link">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['taco_to_base_link']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>                  
            </joint>
            <joint name="shoulder_link_to_taco">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['shoulder_link_to_taco']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>  
            </joint>
            <joint name="elbow_link_to_shoulder_link">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['elbow_link_to_shoulder_link']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>  
            </joint>
            <joint name="bevel_housing_to_elbow_link">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['bevel_housing_to_elbow_link']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>  
            </joint>
            <joint name="wrist_link_to_bevel_housing">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['wrist_link_to_bevel_housing']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>  
            </joint>
            <joint name="moving_claw_to_end_effector_base">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['moving_claw_to_end_effector_base']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>  
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
